# =========================
# Android Studio / IntelliJ
# =========================
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Local configuration
# =========================
local.properties

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Android build artifacts
# =========================
captures/
.externalNativeBuild/
.cxx/

# =========================
# Firebase / Secrets
# =========================
google-services.json

# =========================
# Logs
# =========================
*.log
